Snitch Fashion: E-commerce Sales Analytics

Problem Statement:The goal of thiproject is to analyze sales data from Snitch s Fashion, an online clothing retailer, to uncover insights into its sales performance, customer purchasing patterns, and product trends. The dataset contains uncleaned transactional records, and the analysis aims to transform this raw data into meaningful business intelligence.

Aim of the Project

The aim of this project is to perform a comprehensive exploratory data analysis (EDA) on Snitch Fashion’s e-commerce sales data to identify key patterns, trends, and insights that can support data-driven decision-making. The project focuses on cleaning and transforming raw sales data, analyzing customer and product performance, and generating actionable insights to improve sales strategies, optimize inventory management, and enhance overall business performance.

LOAD THE DATASET

In [2]:
import pandas as pd

In [3]:

file_path = r"C:\Users\mursh\Downloads\Snitch_Fashion_Sales_Uncleaned.csv"


df = pd.read_csv(file_path)


df.head()

,Order_ID,Customer_Name,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_%,Sales_Amount,Order_Date,City,Segment,Profit
0,1000,Brian Thompson,Jeans,Slim Fit Jeans,NaN,842.00,0.60,0.00,27-02-2025,Delhi,B2C,2137.45
1,1001,Shaun Ross,Jeans,Slim Fit Jeans,1.0,NaN,NaN,0.00,15-07-2025,Ahmedabad,NaN,1588.15
2,1002,Sarah Snyder,Jackets,Puffer Coat,1.0,637.82,NaN,0.00,02-01-2025,Mumbai,B2B,-158.03
3,1003,Jay Briggs,Shoes,Loafers,2.0,2962.27,NaN,0.00,18-06-2025,bengaluru,B2B,2296.50
4,1004,Maria Blake,Accessories,Belts,1.0,2881.07,0.27,2103.18,NaN,hyderbad,NaN,63.66

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          2500 non-null   int64
 1   Customer_Name     2500 non-null   object
 2   Product_Category  2500 non-null   object
 3   Product_Name      2500 non-null   object
 4   Units_Sold        1194 non-null   float64
 5   Unit_Price        1290 non-null   float64
 6   Discount_%        849 non-null    float64
 7   Sales_Amount      2500 non-null   float64
 8   Order_Date        1894 non-null   object
 9   City              2500 non-null   object
 10  Segment           1679 non-null   object
 11  Profit            2500 non-null   float64
dtypes: float64(5), int64(1), object(6)
memory usage: 234.5+ KB

In [27]:
df.describe(include='all')

,Order_ID,Customer_Name,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_%,Sales_Amount,Order_Date,City,Segment,Profit
count,2500.000000,2500,2500,2500,1194.000000,1290.000000,849.000000,2500.000000,1894,2500,1679,2500.000000
unique,NaN,2458,6,24,NaN,NaN,NaN,NaN,561,9,2,NaN
top,NaN,Michael Smith,Dresses,Wrap Dress,NaN,NaN,NaN,NaN,05-05-2025,Mumbai,B2B,NaN
freq,NaN,4,443,126,NaN,NaN,NaN,NaN,12,443,844,NaN
mean,2193.060000,NaN,NaN,NaN,1.940536,2691.715527,0.646466,126.756252,NaN,NaN,NaN,981.569032
std,748.063846,NaN,NaN,NaN,2.625680,1320.448967,0.380331,1464.944525,NaN,NaN,NaN,1159.159244
min,1000.000000,NaN,NaN,NaN,-2.000000,400.210000,0.000000,-7518.330000,NaN,NaN,NaN,-992.610000
25%,1543.750000,NaN,NaN,NaN,0.000000,1526.195000,0.300000,0.000000,NaN,NaN,NaN,-19.670000
50%,2182.500000,NaN,NaN,NaN,2.000000,2685.985000,0.650000,0.000000,NaN,NaN,NaN,947.885000
75%,2842.250000,NaN,NaN,NaN,4.000000,3824.347500,0.980000,0.000000,NaN,NaN,NaN,1993.515000
max,3499.000000,NaN,NaN,NaN,6.000000,4998.910000,1.300000,29180.680000,NaN,NaN,NaN,2997.110000

HANDLING MISSING VALUES

identifying and handling missing values

In [28]:
df.isnull().sum()

Order_ID               0
Customer_Name          0
Product_Category       0
Product_Name           0
Units_Sold          1306
Unit_Price          1210
Discount_%          1651
Sales_Amount           0
Order_Date           606
City                   0
Segment              821
Profit                 0
dtype: int64

REMOVING DUPLICATES

In [4]:
df.drop_duplicates(inplace=True)

In [29]:
print ("no of duplicates=",df.duplicated().sum())

no of duplicates= 0

CORRECTING DATATYPES

verify dates and categorical fields have appropriate format

In [30]:

numeric_cols = ['Units_Sold', 'Unit_Price', 'Discount_%', 'Sales_Amount', 'Profit']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')


categorical_cols = ['Order_ID', 'Customer_Name', 'Product_Category',
                    'Product_Name', 'City', 'Segment']
for col in categorical_cols:
    df[col] = df[col].astype('category')


df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')


df.dtypes

C:\Users\mursh\AppData\Local\Temp\ipykernel_22004\3043954136.py:12: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')

Order_ID                  category
Customer_Name             category
Product_Category          category
Product_Name              category
Units_Sold                 float64
Unit_Price                 float64
Discount_%                 float64
Sales_Amount               float64
Order_Date          datetime64[ns]
City                      category
Segment                   category
Profit                     float64
dtype: object

HANDLING MISSING VALUES

In [5]:
df['Units_Sold'] = df.groupby('Product_Category')['Units_Sold'].transform(
    lambda x: x.fillna(x.median()).round()
).astype(int)

df['Units_Sold'] = df['Units_Sold'].apply(lambda x: 1 if x <= 0 else x)

In the dataset, the Units_Sold column contains some zero or missing values, which can distort calculations for Sales_Amount and other metrics. To ensure accurate analysis, we need to clean and impute these values.
Steps Taken:
Treat zeros as missing values
We replaced all 0 entries in Units_Sold with NaN to indicate that the value is missing:
Impute missing values using median per Product_Category
We calculated the median of Units_Sold for each product category and used it to fill the missing values:

In [32]:
# Handle missing Unit_Price

df['Unit_Price'] = df.groupby('Product_Category')['Unit_Price'].transform(
    lambda x: x.fillna(x.median())
)

C:\Users\mursh\AppData\Local\Temp\ipykernel_22004\2372416836.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['Unit_Price'] = df.groupby('Product_Category')['Unit_Price'].transform(

 Handling Missing Values in `Unit_Price`

To ensure consistent pricing information across the dataset, we fill missing values in  
the **`Unit_Price`** column using the **median price within each product category**.

This approach is better than using a global median because:
- Different product categories naturally have different price ranges  
- Filling missing values with a category-specific median preserves realistic pricing  
- Median is robust against outliers, making it suitable for skewed price distributions  

The code below groups the data by `Product_Category` and replaces missing `Unit_Price`  
entries with the median value of that category.

In [33]:
# : Handle missing Discount_%

df['Discount_%'] = df['Discount_%'].fillna(0)

The Discount_% column contains some null values, which can affect the calculation of Sales_Amount if not handled properly.

Steps Taken:

Fill missing discounts with 0
We assumed that a missing discount means no discount was applied, so we replaced all null values with 0:

In [34]:
df['Sales_Amount'] = (
    df['Units_Sold'] * df['Unit_Price'] * (1 - (df['Discount_%'] / 100))
)


# : Fill any remaining missing Sales_Amount

df['Sales_Amount'] = df.groupby('Product_Category')['Sales_Amount'].transform(
    lambda x: x.fillna(x.median())
)

C:\Users\mursh\AppData\Local\Temp\ipykernel_22004\757627264.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['Sales_Amount'] = df.groupby('Product_Category')['Sales_Amount'].transform(

After cleaning the Units_Sold, Unit_Price, and Discount_% columns, we need to ensure that the Sales_Amount column reflects the correct values for each transaction.

Steps Taken:

Apply the sales formula
The Sales_Amount is calculated using the standard formula:

\text{Sales\_Amount} = \text{Units\_Sold} \times \text{Unit\_Price} \times \left(1 - \frac{\text{Discount\_%}}{100}\right)

In [35]:
print("Missing Units_Sold:", df['Units_Sold'].isnull().sum())
print("Missing Unit_Price:", df['Unit_Price'].isnull().sum())
print("Missing Discount_%:", df['Discount_%'].isnull().sum())
print("Missing Sales_Amount:", df['Sales_Amount'].isnull().sum())

Missing Units_Sold: 0
Missing Unit_Price: 0
Missing Discount_%: 0
Missing Sales_Amount: 0

In [36]:

mode_date = df['Order_Date'].mode()[0]
df['Order_Date'] = df['Order_Date'].fillna(mode_date)

 Handling Missing Values in `Order_Date`

To address missing values in the **`Order_Date`** column, we replace all `NaN` entries  
with the **most frequent date (mode)** from the dataset.

Using the mode is appropriate for date fields when:
- A specific date occurs frequently (e.g., bulk order date, system default date)
- We want to preserve realistic temporal patterns without artificially shifting trends
- Mean or median cannot be used on non-numeric date data

The code first extracts the mode of `Order_Date` and then fills all missing values with it.

In [53]:
# If 'Segment' is categorical, add 'Unknown' as a category first
if pd.api.types.is_categorical_dtype(df['Segment']):
    df['Segment'] = df['Segment'].cat.add_categories('Unknown')

# Now fill missing values
df['Segment'] = df['Segment'].fillna('Unknown')

# Verify
missing_segment = df['Segment'].isnull().sum()
print(f"Missing values in 'Segment' after filling: {missing_segment}")

Missing values in 'Segment' after filling: 0

C:\Users\mursh\AppData\Local\Temp\ipykernel_22004\766134327.py:2: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(df['Segment']):

Handling Missing Values in the `Segment` Column

The `Segment` column contained some missing values. To retain these records without losing information, we filled all missing entries in the `Segment` column with the string `"Unknown"`. This approach allows us to explicitly mark the absence of segment information and treat it as a separate category during analysis.

CREATING DERIVED COLUMNS

In [40]:
# Effective price after discount
df['Effective_Price'] = df['Unit_Price'] * (1 - df['Discount_%'] / 100)

To enhance our analysis, we created the following derived columns:

1. **Effective_Price** – Represents the actual unit price after applying the discount.

In [41]:
# Profit margin percentage
df['Profit_Margin_%'] = (df['Profit'] / df['Sales_Amount']) * 100

 **Profit_Margin_%** – Shows the percentage of profit relative to sales, helping us understand profitability.

In [42]:
df['Order_Year'] = df['Order_Date'].dt.year
df['Order_Month'] = df['Order_Date'].dt.month
df['Order_Day'] = df['Order_Date'].dt.day

 **Order_Year, Order_Month, Order_Day** – Extracted from `Order_Date` to enable time-based analysis, such as monthly sales trends and yearly comparisons.

FILTERING DATA

filtering allows you to select rows based on conditions

In [43]:
# Filter orders with Profit > 500
high_profit_orders = df[df['Profit'] > 500]

Filtering High-Profit Orders

To identify the most profitable orders, we filtered the dataset to include only those orders where the `Profit` exceeded 500. This helps focus the analysis on high-value transactions and understand which products, customers, or segments contribute the most to profit.

In [44]:
# Filter orders in a specific city, e.g., "New York"
ny_orders = df[df['City'] == 'New York']

Filtering Orders by City

To analyze orders from a specific location, we filtered the dataset to include only orders where the `City` is `"New York"`. This allows us to study city-level sales trends, customer behavior, and profitability.

In [45]:
# Filter orders for a specific product category, e.g., "Clothing"
clothing_orders = df[df['Product_Category'] == 'Clothing']

 Filtering Orders by Product Category

To analyze sales for a specific category, we filtered the dataset to include only orders where the `Product_Category` is `"Clothing"`. This helps us understand the performance, demand, and profitability of products within this category.

In [46]:
date_filtered = df[(df['Order_Date'] >= '2023-01-01') & (df['Order_Date'] <= '2023-06-30')]

Filtering Orders by Date Range

To focus on sales within a specific period, we filtered the dataset to include only orders placed between January 1, 2023, and June 30, 2023. This allows us to analyze seasonal trends, quarterly performance, and time-based sales patterns.

AGGREGATING DATA

aggregating allows you to summarize data

In [47]:
# Total sales by product category
sales_by_category = df.groupby('Product_Category')['Sales_Amount'].sum().reset_index()

C:\Users\mursh\AppData\Local\Temp\ipykernel_22004\1586734263.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales_by_category = df.groupby('Product_Category')['Sales_Amount'].sum().reset_index()

Total Sales by Product Category

To understand which product categories generate the most revenue, we aggregated the dataset to calculate the total `Sales_Amount` for each `Product_Category`. This provides insight into category-level performance and helps identify top-selling categories.

In [48]:
# Average profit by segment
profit_by_segment = df.groupby('Segment')['Profit'].mean().reset_index()

C:\Users\mursh\AppData\Local\Temp\ipykernel_22004\3555352407.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  profit_by_segment = df.groupby('Segment')['Profit'].mean().reset_index()

 Average Profit by Segment

To analyze the profitability of different customer segments, we aggregated the dataset to calculate the **average `Profit`** for each `Segment`. This helps identify which segments contribute the most to overall profitability.

In [49]:
# Total units sold and total revenue by city
city_summary = df.groupby('City').agg(
    Total_Units_Sold=('Units_Sold', 'sum'),
    Total_Revenue=('Sales_Amount', 'sum')
).reset_index()

C:\Users\mursh\AppData\Local\Temp\ipykernel_22004\356847498.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  city_summary = df.groupby('City').agg(

Total Units Sold and Total Revenue by City

To analyze city-level performance, we aggregated the dataset to calculate the **total units sold** and **total revenue** for each city. This helps identify the top-performing cities and guides location-based business strategies.

In [50]:
# Monthly sales trend (aggregated by year and month)
monthly_sales = df.groupby(['Order_Year', 'Order_Month'])['Sales_Amount'].sum().reset_index()

Monthly Sales Trend

To examine time-based sales patterns, we aggregated the dataset by **year** and **month** to calculate total `Sales_Amount` for each period. This helps identify seasonal trends, peak months, and overall revenue growth.

In [54]:
# Save the cleaned dataset
df.to_csv('Snitch_Fashion_Sales_Cleaned.csv', index=False)

print("✅ Cleaned dataset saved as 'Snitch_Fashion_Sales_Cleaned.csv'")

✅ Cleaned dataset saved as 'Snitch_Fashion_Sales_Cleaned.csv'

Data Cleaning Summary

Missing Values Handling:

For Units_Sold and Unit_Price, missing values were filled using the median value within each product category to maintain category-specific accuracy.

Units_Sold values were rounded to integers, and any zero or negative values were replaced with 1 to ensure valid sales counts.

Missing values in Discount_% were filled with 0, assuming no discount.

The Sales_Amount was recalculated from Units_Sold, Unit_Price, and Discount_%. Any remaining missing sales amounts were imputed with the category-wise median.

Missing Order_Date values were filled with the most frequent (mode) date.

For the categorical column Segment, missing values were filled with a new category called "Unknown" to retain those records.

Data Type and Feature Engineering:

Extracted Order_Year, Order_Month, and Order_Day from the Order_Date for time-based analysis.

Created an Effective_Price column to represent the price after discount.

Calculated Profit_Margin_% to express profitability relative to sales.

Data Filtering and Aggregation Preparation:

Filtered subsets were created based on profit, city, product category, and date ranges for further analysis.

Aggregations such as total sales by category, average profit by segment, and city-level sales and revenue were prepared.